#map {
    height: 701px
}

body {
    padding: 0;
    margin: 0;
}

#description {
    position: absolute;
    top: 300px;
    left: 10px;
    background-color: white;
    border-radius: 2%;
    padding: 10px;
    z-index: 1000;
    max-width: 210px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #3a3a3a;
}

#title_info {
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transition: opacity .5s;
}

.text-center {
    text-align: center;
}