body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

#description {
    position: absolute;
    top: 200px;
    left: 10px;
    background-color: white;
    border-radius: 2%;
    padding: 10px;
    z-index: 1000;
    max-width: 210px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #3a3a3a;
}

#title_info {
    font-weight: bold;
    padding-top: 5px;
}

.fade-out {
    opacity: 0;
    transition: opacity .5s;
}

.text-center {
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #757575;
    height: 15px;
}